.eboard-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    text-align: center;
    font-weight: bold;
    margin: 0 10% 0 10%;
}


.eboard-member{
    font-size: 25px;
}
.member-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.overlay-container{
    position: relative;
    height: 475px;
    width: 350px;
}
.overlay{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(246, 165, 240, 0.75);
    opacity: 0;
    transition: .2s;
}
.member-picture{
    width: 100%;
    height: 100%;
    transition: .2s;
 }
.overlay:hover{
    color: whitesmoke;
    opacity: 1;
    cursor: pointer;
}
.member-role {
    margin: 0;
    font-size: 16px;
}


