body{
    min-width: 100%;
    font-family: "Noto Sans", "sans-serif";
    background: linear-gradient(
            rgb(253, 219, 148),
            rgb(246, 140, 140)
    );
    padding:0 0 5% 0;
    margin: 0 0 0 5%;
}
.eboard-section-title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    margin: 25px 0 25px 0;
}
.events-section-title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    margin: 25px 0 25px 0;
}