.nav-bar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    position: fixed;
    left: 0;
    width: 70px;
    z-index: 1;
}
.groupme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: black;
    border-style: none;
    transition: .2s;
}
.jsa-pin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    color: black;
    text-decoration: none;
    border-style: none;
    transition: .2s;
}
.discord{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: black;
    border-style: none;
    transition: .2s;
}
.instagram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: black;
    border-style: none;
    transition: .2s;
}
.spotify{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: black;
    border-style: none;
    transition: .2s;
}
.tutoring{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: black;
    text-decoration: none;
    border-style: none;
    transition: .2s;
}
.learning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    color: black;
    text-decoration: none;
    border-style: none;
    transition: .2s;
}
.groupme-logo{
    max-width: 100%;
    height: auto;
}
.jsa-pin-icon{
    max-width: 50%;
    height: auto;
}
.discord-logo{
    max-width: 100%;
    height: auto;
}
.insta-logo{
    max-width: 80%;
    height: auto;
}
.spotify-logo{
    max-width: 80%;
    height: auto;
}
.learning-icon{
    max-width: 30px;
    height: auto;
}
.groupme:hover{
    background-color: rgb(253, 200, 225);
}
.jsa-pin:hover{
    background-color: rgb(253, 200, 225);
}
.discord:hover{
    background-color: rgb(253, 200, 225);
}
.instagram:hover{
    background-color: rgb(253, 200, 225);
}
.spotify:hover{
    background-color: rgb(253, 200, 225);
}
.tutoring:hover{
    background-color: rgb(253, 200, 225);
}
.learning:hover{
    background-color: rgb(253, 200, 225);
}






